PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=odoo1
DB_PASSWORD=1234
DB_NAME=herramientas_eliminar

JWT_SECRET=tu_secreto_jwt_muy_largo_y_aleatorio_cambiar_en_produccion
JWT_EXPIRES_IN=24h

CORS_ORIGIN=http://localhost:3000

LOG_LEVEL=info
